@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/******************************** HEADER ********************************/

.logo {
  height: 30px;
  width: 95px;
  background-image: url("https://img.hellofresh.com/w_256,q_100,f_auto,c_limit,fl_lossy/hellofresh_website/logo/Hello_Fresh_Lockup.png");
  background-size: cover;
  margin: 0px 16px 0px 0px;
  cursor: pointer;
}

.header {
  height: 9vh;
  display: flex;
  justify-content: space-around;
  gap: 5%;
  align-items: center;
  background-color: #f5ebeb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* header-left */

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left a {
  text-decoration: none;
  font-size: 14px;
  padding: 16px;
  color: #242424;
}

.header-left a:hover {
  color: #5564b9;
}

/* header-right */

.header-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.log-in {
  height: 40px;
  width: 110px;
  color: #242424;
  border: 2px solid #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 600;
  background-color: #f5ebeb;
  cursor: pointer;
}

.log-in:hover {
  background-color: #d0caca;
}

/* dropdown */

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 44px;
  left: 0;
  background-color: #fefaf3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  min-width: 220px;
  z-index: 2;
}

.dropdown-menu a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background-color: #eee;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.menu i {
  transition: transform 0.3s ease;
}

.dropdown:hover i {
  transform: rotate(180deg);
}

/******************************* Hero-section *******************************/

.hero-section {
  height: 91vh;
  background-image: url("Images/Hero-Image-DSK.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  margin-top: 9vh;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-hero-section {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  line-height: 3.125rem;
  color: #242424;
}

.hero-section-span1 {
  margin-top: 20px;
  font-size: 17px;
  color: #242424;
}

.hero-section-span2 {
  font-size: 12px;
  margin-top: 10px;
  color: #242424;
}

.hero-section-btn {
  padding: 12px 24px;
  background-color: #242424;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
}

.hero-section-btn:hover {
  background-color: #333;
}

/************************* Container-1 **************************/

.container-1 {
  padding: 48px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FAF8F3;
}

.container1-span1 {
  font-size: 23px;
  font-weight: 700;
  padding: 32px 12px 12px;
  text-align: center;
  color: #242424;
}

.container1-span2 {
  padding: 0px 8px 24px;
  text-align: center;
  font-size: 13px;
  color: #242424;
}

/************************* Container-2 **************************/

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0px;
  gap: 6%;
  background-color: #FAF8F3;
}

.container2-photo {
  background-image: url("Images/container2-img.avif");
  background-size: cover;
  height: 270px;
  width: 520px;
  border-radius: 20px;
}

.container2-text {
  width: 500px;
  color: #242424;
}

.container2-text span {
  font-size: 14px;
}

.container2-text h2 {
  margin: 16px 0px;
}

/************************* Container-3 **************************/

.container-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0px;
  gap: 6%;
  background-color: #FAF8F3;
}

.container3-photo {
  background-image: url("Images/container3-img.avif");
  background-size: cover;
  height: 270px;
  width: 520px;
  border-radius: 20px;
}

.container3-text {
  width: 500px;
  color: #242424;
}

.container3-text span {
  font-size: 14px;
}

.container3-text h2 {
  margin: 16px 0px;
}

/************************* Container-4 **************************/

.container-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0px;
  gap: 6%;
  background-color: #FAF8F3;
}

.container4-photo {
  background-image: url("Images/container4-img.avif");
  background-size: cover;
  height: 270px;
  width: 520px;
  border-radius: 20px;
}

.container4-text {
  width: 500px;
  color: #242424;
}

.container4-text span {
  font-size: 14px;
}

.container4-text h2 {
  margin: 16px 0px;
}

/************************* container-5 **************************/

.container-5 {
padding: 48px 0px;
background-color: #FAF8F3;
}

.container-5 h2 {
  text-align: center;
  padding: 40px 12px;
}

.video-container {
  padding: 32px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container5-video1 {
  background-image: url("Images/video-container1.webp");
  background-size: cover;
  height: 179px;
  width: 348px;
  margin: 0px 0px 18px;
}

.container5-video2 {
  background-image: url("Images/video-container2.webp");
  background-size: cover;
  height: 179px;
  width: 348px;
  margin: 0px 0px 18px;
}

.container5-video3 {
  background-image: url("Images/video-container3.webp");
  background-size: cover;
  height: 179px;
  width: 348px;
  margin: 0px 0px 18px;
}

.container5-text {
  height: 250px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container5-text span {
  font-size: 14px;
  color: #242424;
  font-weight: 700;
}

.container5-text p {
  font-size: 13px;
  color: #242424;
  text-align: center;
  padding: 0px 16px;
}

.btn-container5 {
  padding: 12px 24px;
  background-color: #242424;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 24px;
  cursor: pointer;
}

.video-container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container5:hover {
  background-color: #333;
}